node_modules
dist
.idea
env-config.yml
yarn-error.log
lerna-debug.log
.DS_Store
.npmrc
.yarnrc
.vscode

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

**/*.env
coverage
docker-compose.yml
docker-compose.debug.yml